html{
	background-color: #f0dff1;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

#top-bar {
	background-color: pink;
	height: 120px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

#mybutton {
	background-color: lightblue;
	color: blueviolet;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	font-size: 18px;	
}


/*
body {
	width:600px;
	margin:0 auto;
	background-color: #be2596;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
*/
h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #36ece2;
}

p, li {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1px;
	margin-top: 2px;
	
}

.center{
	display: block;
	margin-top: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	height: 400px;
	width: auto;
}

/*
h1{
	color: red;
}

#paragrafo{
	color: blue;
}

.list-class{
	color: pink;
}

img[src]{
	color: black;
	height: 300px;
	width: auto;
}

a:hover{
	color: yellow;
}
*\
